<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      
        <span class="app-brand-logo demo">
          <i><img src="../../assets/img/favicon/Logo.png" width="50px" height="50px"></i>
        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2">Horizon Homes</span>
      
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>
  
    <div class="menu-inner-shadow"></div>
  
    <ul class="menu-inner py-1 overflow-auto">
  
      <!-- Dashboard -->
      <li class="menu-item">
        <a  class="menu-link" routerLink="/dashboard">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div>Dashboard</div>
        </a>
      </li>
  
      <!-- User Management -->
      <li class="menu-item">
        <a routerLink="/add-user" routerLinkActive="router-link-active"  class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div>Add User</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="/user-management" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div>Manage Users</div>
        </a>
      </li>
  
      <!-- Property Management -->
      <li class="menu-item">
        <a routerLink="/add-property" routerLinkActive="router-link-active" class="menu-link">
          <i class="menu-icon tf-icons bx bx-building-house"></i>
          <div>Add Property</div>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/property-management" routerLinkActive="router-link-active"  class="menu-link">
          <i class="menu-icon tf-icons bx bx-building-house"></i>
          <div>Manage Property</div>
        </a>
      </li>
    </ul>
  </aside>
  