<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">
        <span class="app-brand-logo demo">
          <i class="bx bx-home"></i>
        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2">Horizon Homes</span>
      </a>
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>
  
    <div class="menu-inner-shadow"></div>
  
    <ul class="menu-inner py-1 overflow-auto">
  
      <!-- Dashboard -->
      <li class="menu-item">
        <a href="index.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div>Dashboard</div>
        </a>
      </li>
  
      <!-- User Management -->
      <li class="menu-item">
        <a href="add-user.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div>Add User</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="manage-users.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div>Manage Users</div>
        </a>
      </li>
  
      <!-- Property Management -->
      <li class="menu-item">
        <a href="add-property.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-building-house"></i>
          <div>Add Property</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="manage-property.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-building-house"></i>
          <div>Manage Property</div>
        </a>
      </li>
  
    </ul>
  </aside>
  