<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Sidebar/Menu -->
      <app-menu></app-menu>
  
      <!-- Layout Page Content -->
      <div class="layout-page">
        <app-navbar></app-navbar>
  
        <!-- Content Wrapper -->
        <div class="container-fluid mt-4">
          <div class="row">
            <!-- Welcome Card -->
            <div class="col-lg-8 mb-4">
              <div class="card">
                <div class="row align-items-center">
                  <div class="col-sm-7">
                    <div class="card-body">
                      <h5 class="card-title text-primary">Welcome back {{currentUser?.username}} ! 🎉</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Profile Report Card -->
            <div class="col-lg-4 mb-4" *ngIf="this.loggedUser?.roles?.includes('ADMIN')">
              <div class="card h-100">
                <div class="card-body">
                  <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                    <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                      <div class="card-title">
                        <h5 class="text-nowrap mb-2">Company Report</h5>
                        <span class="badge bg-label-warning rounded-pill">All time</span>
                      </div>
                      <div class="mt-sm-auto">
                        <small class="text-success text-nowrap fw-semibold"><i class="bx bx-chevron-up"></i></small>
                        <h3 class="mb-0">$ {{this.getProfit()}}</h3>
                      </div>
                    </div>
                    <div id="profileReportChart" style="min-height: 80px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Stats Row -->
          <div class="row">
            <!-- Profit Card -->
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                      <i class="bx bx-home"></i>
                    </div>
                  </div>
                  <span class="fw-semibold d-block mb-1">Properties</span>
                  <h3 class="card-title mb-2">{{properties.length}}</h3>
                </div>
              </div>
            </div>
  
            <!-- Sales Card -->
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                      <i class="bx bx-home"></i>
                    </div>
                  </div>
                  <span class="fw-semibold d-block mb-1">Sold Properties</span>
                  <h3 class="card-title mb-2">{{getSoldProperties().length}}</h3>
                </div>
              </div>
            </div>
  
            <!-- Payments Card -->
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4" *ngIf="loggedUser?.roles?.includes('ADMIN')">
            <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                      <i class="bx bx-home"></i>
                    </div>
                  </div>
                  <span class="fw-semibold d-block mb-1">Users</span>
                  <h3 class="card-title mb-2">{{users.length}}</h3>
                </div>
              </div>
            </div>
  
            <!-- Transactions Card -->
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4" *ngIf="loggedUser?.roles?.includes('ADMIN')">
              <div class="card">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                      <div class="avatar flex-shrink-0">
                        <i class="bx bx-home"></i>
                      </div>
                    </div>
                    <span class="fw-semibold d-block mb-1">Agents</span>
                    <h3 class="card-title mb-2">{{getAgents().length}}</h3>
                  </div>
                </div>
              </div>
        <!-- / Content Wrapper -->
      </div>
      <!-- / Layout Page -->
    </div>
  </div>