<div class="modal-header" style="background-color: var(--bs-dark); color: var(--bs-white);">
  <h5 class="modal-title" style="color: var(--bs-indigo);">Confirm Deletion</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()" style="color: var(--bs-white);"></button>
</div>

<div class="modal-body text-center" style="background-color: var(--bs-white);">
  <p class="fw-bold" style="color: var(--bs-orange);">
      Are you sure you want to delete Property with id <span style="color: var(--bs-red);">#{{ data.propertyId }}</span>?
  </p>
</div>

<div class="modal-footer d-flex justify-content-between" style="background-color: var(--bs-dark);">
  <button mat-button class="btn btn-secondary" style="background-color: var(--bs-orange); color: var(--bs-white);" (click)="onCancel()">Cancel</button>
  <button mat-raised-button class="btn btn-primary" style="background-color: var(--bs-red); color: var(--bs-white);" (click)="onDelete()">Delete</button>
</div>